@use "helpers" as *;

html {
  font-size: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.flexible {
  --accent: #ea1d26;
  --primary: #030731;
  --primary-light: #222549;
  --secondary: #ff6c03;
  --heading: #2e475d;
  --body: #3f444b;
  --white: #fff;
  --light: #d5d8dc;
  --lighter: #fbfbfb;

  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: var(--body);

  p:not([class]):not(:last-of-type) {
    margin-bottom: rem(16);
  }

  @include large {
    br {
      display: none !important;
    }
  }
}

// Containers
.flexible-container {
  max-width: rem(1240);
  padding-inline: rem(20);
  margin-inline: auto;
}

// Section Padding
.section-padding {
  padding-block: fluid(40, 60);
}

// Headings
.heading-xl,
.heading-lg,
.heading-md,
.heading-sm {
  line-height: 1.2;
  text-align: center;
  color: var(--heading);

  &--white {
    color: var(--white);
  }
}

.heading-xl,
.heading-lg,
.heading-md {
  font-weight: 900;
}

.heading-xl {
  font-size: fluid(42, 60);
}
.heading-lg {
  font-size: fluid(34, 56);
  margin-bottom: fluid(24, 40);
}

.heading-md {
  font-size: fluid(30, 36);
}

.heading-sm {
}

.heading-xs {
}
