@use "helpers" as *;

html {
  font-size: 100%;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

.flexible {
  --accent: #ea1d26;
  --primary: #030731;
  --secondary: #ff6c03;
  --heading: #2e475d;
  --body: #3f444b;
  --white: #fff;

  overflow: hidden;
  position: relative;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: var(--gray);

  .flexible-container {
    max-width: rem(1240);
    padding-inline: rem(20);
    margin-inline: auto;
  }

  p:not([class]):not(:last-of-type) {
    margin-bottom: rem(16);
  }

  // Headings

  h1,
  .heading-xl,
  h2,
  .heading-lg,
  h3,
  .heading-md,
  h4,
  .heading-sm {
    line-height: 1.2;
    text-align: center;
    color: var(--heading);

    &--white {
      color: var(--white);
    }
  }

  h1,
  .heading-xl,
  h2,
  .heading-lg {
    font-weight: 900;
  }

  h1,
  .heading-xl {
    font-size: fluid(42, 60);
  }

  h2,
  .heading-lg {
    font-size: fluid(40, 56);
  }

  h3,
  .heading-md {
  }

  h4,
  .heading-sm {
  }

  h5,
  .heading-xs {
  }

  // Buttons

  

  // Text
  p,
  .text-base {
  }

  @include large {
    br {
      display: none !important;
    }
  }
}
