@use "../helpers/" as *;

.areas {
  &__container {
  }

  &__title {
  }

  &__body {
    display: flex;
    gap: rem(20);

    @include medium {
      flex-direction: column;
    }
  }

  &__aside {
    flex: 0 0 rem(347);

    @include medium {
      flex: 0 1 auto;
    }
  }

  &__subtitle {
    text-align: center;
    margin: 0 rem(30) rem(22) 0;

    @include medium {
      margin: 0 0 rem(20) 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @include medium {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__list-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(5) rem(20);
  }

  &__item {
    color: var(--heading);
    font-size: rem(14);
    line-height: 1.6;
    display: flex;
    align-items: center;
    column-gap: rem(8);
    transition: color 0.3s ease;

    @include hover {
      color: var(--secondary);
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.415%2011.157.19%206.932a.65.65%200%200%201%200-.92l.92-.919a.65.65%200%200%201%20.919%200L4.875%207.94l6.096-6.096a.65.65%200%200%201%20.92%200l.919.92a.65.65%200%200%201%200%20.919l-7.475%207.475a.65.65%200%200%201-.92%200%22%20fill%3D%22%23ff6c03%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      flex: 0 0 rem(13);
      height: rem(13);
    }
  }

  &__map {
    flex-grow: 1;
  }
}
