@use "../helpers/" as *;

.primary-button {
  padding: rem(12) rem(16);
  border-radius: 4px;
  color: var(--white);
  text-align: center;
  font-size: fluid(18, 22);
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  background-color: var(--accent);
  transition: all 0.3s ease;
  border: 1px solid var(--accent);

  @include hover {
    background-color: var(--white);
    color: var(--accent);
  }

  &--transparent {
    background-color: transparent;
    border-color: var(--white);

    @include hover {
      background-color: var(--accent);
      color: var(--white);
    }
  }
}
