@use "../helpers/" as *;

.contacts {
  background-color: var(--primary);

  &__container {
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    overflow: hidden;

    @include medium {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    padding: fluid(24, 40);
    background: linear-gradient(138deg, #ea1d26 0%, #ff6c03 100%), #ff6c03;
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 32);
    height: 100%;
  }

  &__info-group {
    color: var(--white);
    &:nth-child(2) {
      margin-top: auto;
    }
  }

  &__subtitle {
    margin-bottom: rem(24);
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    row-gap: fluid(4, 16);
    margin-bottom: fluid(16, 24);
  }

  &__schedule-item {
    font-size: rem(18);
    line-height: 1.6;
    display: flex;
    align-items: center;
    column-gap: rem(16);

    &::before {
      content: "";
      flex: 0 0 rem(22);
      height: rem(22);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: contain;
    }

    &--time {
      &::before {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.667%205.333v5.334l2.666%202.666m7-2.666c0%205.338-4.328%209.666-9.666%209.666a9.667%209.667%200%201%201%209.667-9.667Z%22%20stroke%3D%22%23fff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
      }
    }

    &--support {
      &:hover {
        color: var(--white) !important;
        text-decoration: underline !important;
      }
      &::before {
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.433%201.723a3.044%203.044%200%200%200-2.727%203.024c0%209.896%208.051%2017.947%2017.947%2017.947a3.043%203.043%200%200%200%203.023-2.728l-2.81-2.837a2%202%200%200%200-1.227-.585l-.202-.01c-.542%200-1.05.212-1.43.597l-2.077%202.103-.045.047-.062-.024-.544-.212a15.68%2015.68%200%200%201-8.923-8.996l-.162-.423-.022-.06.045-.046L7.31%207.4a2.013%202.013%200%200%200-.014-2.84zM24.3%2019.653a4.65%204.65%200%200%201-4.647%204.647%2019.5%2019.5%200%200%201-13.826-5.727A19.5%2019.5%200%200%201%20.1%204.747%204.65%204.65%200%200%201%204.747.1h.33l.03.029%203.32%203.29a3.62%203.62%200%200%201%20.028%205.11L7.048%209.95a14.08%2014.08%200%200%200%207.441%207.444l1.376-1.392a3.6%203.6%200%200%201%202.57-1.074h.002c.972%200%201.885.38%202.569%201.07l3.265%203.296.029.029zM12.2.1c3.232%200%206.27%201.26%208.556%203.544A12.02%2012.02%200%200%201%2024.3%2012.2v.1h-1.606v-.1c0-5.786-4.708-10.494-10.494-10.494h-.1V.1z%22%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.2%22%2F%3E%3Cpath%20d%3D%22M12.2%204.32c4.346%200%207.88%203.534%207.88%207.88v.1h-1.605v-.1A6.283%206.283%200%200%200%2012.2%205.925h-.1V4.319z%22%20fill%3D%22%23fff%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.2%22%2F%3E%3C%2Fsvg%3E');
      }
    }
  }

  &__text {
    font-size: fluid(14, 18);
    line-height: 1.5;
  }

  &__socials {
    margin-top: rem(24);
    display: flex;
    column-gap: fluid(16, 32);
  }

  &__socials-link {
    flex-shrink: 0;
    transition: opacity 0.3s ease;
    @include hover {
      opacity: 0.8;
    }
  }

  &__socials-icon {
    width: rem(32);
    height: rem(32);
  }

  &__form {
    padding: fluid(24, 40);
    background-color: var(--white);
  }

  &__form-heading {
    margin-bottom: fluid(24, 40);
  }

  &__form-text {
    font-size: rem(13);
    text-align: center;
    margin-bottom: rem(24);
  }

  &__form-body {
  }
}
