@use "../helpers/" as *;

.cta {
  &__inner {
    padding-block: fluid(60, 100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: rem(32);

    @include small {
      flex-direction: column;
    }
  }

  &__main {
    flex: 0 1 rem(560);
    display: flex;
    flex-direction: column;
    row-gap: fluid(24, 44);

    @include small {
      flex: 0 1 auto;
    }
  }

  &__title {
    color: var(--white);
    font-size: fluid(30, 36);
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0;
  }

  &__buttons {
    display: flex;
    gap: fluid(20, 24);

    @include x-small {
      flex-direction: column;
    }
  }

  &__button {
  }

  &__text {
    flex: 0 1 rem(511);
    color: var(--white);
    font-size: fluid(20, 24);
    line-height: 1.4;
    @include small {
      flex: 0 1 auto;
    }
  }
}
