@use "../helpers/" as *;

.custom-reviews {
  &__link {
  }

  &__container {
    display: flex;
    align-items: center;
    column-gap: rem(9);
  }

  &__g {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M21.806%2010.042H21V10h-9v4h5.651A5.998%205.998%200%200%201%206%2012a6%206%200%200%201%206-6c1.53%200%202.921.577%203.98%201.52l2.83-2.83A9.95%209.95%200%200%200%2012%202C6.478%202%202%206.478%202%2012s4.478%2010%2010%2010%2010-4.477%2010-10c0-.67-.069-1.325-.195-1.959%22%20fill%3D%22%23ffc107%22%2F%3E%3Cpath%20d%3D%22m3.152%207.346%203.286%202.409A6%206%200%200%201%2011.999%206c1.53%200%202.921.577%203.98%201.52l2.83-2.829A9.95%209.95%200%200%200%2011.998%202a9.99%209.99%200%200%200-8.847%205.346%22%20fill%3D%22%23ff3d00%22%2F%3E%3Cpath%20d%3D%22M12%2022c2.583%200%204.93-.988%206.705-2.596l-3.095-2.619A5.95%205.95%200%200%201%2012%2018a6%206%200%200%201-5.641-3.973L3.098%2016.54C4.753%2019.778%208.114%2022%2012%2022%22%20fill%3D%22%234caf50%22%2F%3E%3Cpath%20d%3D%22M21.806%2010.042H21V10h-9v4h5.651a6%206%200%200%201-2.043%202.785h.002l3.095%202.619C18.485%2019.602%2022%2017%2022%2012c0-.67-.069-1.325-.195-1.959%22%20fill%3D%22%231976d2%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(24);
    height: rem(24);
    flex-shrink: 0;
  }

  &__rating {
    color: var(--heading);
    font-size: rem(24);
    line-height: 1.4;
  }

  &__stars {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22130%22%20height%3D%2224%22%20viewBox%3D%220%200%20130%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m8.24%207.34-6.38.925-.113.023a1%201%200%200%200-.44%201.684l4.622%204.499-1.09%206.355-.013.11a1%201%200%200%200%201.464.944l5.706-3%205.693%203%20.1.046a1%201%200%200%200%201.352-1.1l-1.09-6.355%204.623-4.5.078-.085a1%201%200%200%200-.633-1.62l-6.38-.926-2.852-5.78a1%201%200%200%200-1.794%200zm26.403%200-6.38.925-.113.023a1%201%200%200%200-.44%201.684l4.622%204.499-1.09%206.355-.013.11a1%201%200%200%200%201.464.944l5.706-3%205.693%203%20.1.046a1%201%200%200%200%201.352-1.1l-1.091-6.355%204.624-4.5.078-.085a1%201%200%200%200-.633-1.62l-6.38-.926-2.852-5.78a1%201%200%200%200-1.794%200zm26.398%200-6.38.925-.113.023a1%201%200%200%200-.44%201.684l4.622%204.499-1.09%206.355-.013.11a1%201%200%200%200%201.464.944l5.706-3%205.693%203%20.1.046a1%201%200%200%200%201.352-1.1l-1.09-6.355%204.623-4.5.078-.085a1%201%200%200%200-.633-1.62l-6.38-.926-2.852-5.78a1%201%200%200%200-1.794%200zm26.402%200-6.38.925-.113.023a1%201%200%200%200-.44%201.684l4.622%204.499-1.09%206.355-.013.11a1%201%200%200%200%201.464.944l5.706-3%205.693%203%20.1.046a1%201%200%200%200%201.352-1.1l-1.09-6.355%204.623-4.5.078-.085a.99.99%200%200%200%20.156-.994%201.01%201.01%200%200%200-.789-.626l-6.38-.926-2.851-5.78a1%201%200%200%200-1.795%200zm26.399%200-6.38.925-.113.023a1.001%201.001%200%200%200-.44%201.684l4.622%204.499-1.09%206.355-.013.11a.996.996%200%200%200%20.954%201.058c.177.008.353-.032.51-.114l5.706-3%205.693%203%20.1.046a1%201%200%200%200%201.352-1.1l-1.091-6.355%204.624-4.5.078-.085a1.006%201.006%200%200%200-.155-1.413%201%201%200%200%200-.478-.207l-6.38-.926-2.852-5.78a1%201%200%200%200-1.794%200z%22%20fill%3D%22%23ff6c03%22%2F%3E%3C%2Fsvg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(130);
    height: rem(24);
    flex-shrink: 0;
  }

  &__count {
    color: var(--heading);
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
  }
}
