@use "../helpers/" as *;

.hero-home {
  padding: fluid(80, 143) 0 rem(40);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%);
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 3;
  }

  &__main {
  }

  &__heading {
    margin-bottom: rem(24);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__top {
    position: relative;
    top: rem(70);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 84.49%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: fluid(60, 180);
    font-weight: 800;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 16.2px;
    text-transform: uppercase;
    white-space: nowrap;

    @include medium {
      top: rem(50);
    }

    @include small {
      font-size: rem(80);
    }

    @include x-small {
      font-size: rem(33);
      top: rem(20);
    }
  }

  &__title {
  }

  &__slogans {
    display: flex;
    justify-content: center;

    @include medium {
      flex-direction: column;
      align-items: center;
    }
  }

  &__slogan {
    color: var(--white);
    font-size: fluid(20, 24);
    line-height: 1.4;
    display: flex;
    align-items: center;
    column-gap: rem(16);
    margin-right: rem(16);

    @include medium {
      flex-direction: column;
      row-gap: rem(6);
      margin-bottom: rem(6);
      text-align: center;
    }

    &:not(:last-of-type) {
      &::after {
        content: "";
        width: rem(8);
        height: rem(8);
        flex-shrink: 0;
        border-radius: 50%;
        background-color: var(--accent);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: rem(24);
    gap: fluid(16, 24);

    @include x-small {
      flex-direction: column;
    }
  }

  &__button {
    min-width: rem(225);
  }

  &__services {
    max-width: rem(1320);
    margin-inline: auto;
    padding-inline: rem(20);
    margin-top: fluid(80, 183);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: rem(140);
    gap: fluid(10, 20);

    @include medium {
      grid-template-columns: repeat(3, 1fr);
    }

    @include x-small {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__service {
    border-radius: 16px 16px 16px 16px;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    padding: rem(16);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: rem(16);
    border: 1px solid rgba(255, 255, 255, 0.288);
    transition: all 0.3s ease;

    @include hover {
      border-color: var(--secondary);
      transform: scale(1.03);
    }

    @include x-small {
      &:last-child {
        grid-column: span 2;
      }
    }

    &-icon {
      width: rem(40);
      height: rem(40);
    }
    &-title {
      color: var(--white);
      text-align: center;
      font-size: 1rem;
      font-weight: 800;
      line-height: 1.2;
      letter-spacing: 2.7px;
      text-transform: uppercase;
    }
  }
}
