@forward "hero-home";
@forward "buttons";
@forward "offers";
@forward "about";
@forward "flexible-widget";
@forward "cta";
@forward "areas";
@forward "logos";
@forward "services";
@forward "latest-news";