@use "../helpers/" as *;

.latest-news {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: fluid(24, 40);
    align-items: center;
  }

  &__header {
    max-width: rem(792);
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: rem(24);
  }

  &__text {
    font-size: fluid(16, 18);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30) fluid(12, 30);

    @include small {
      grid-template-columns: repeat(2, 1fr);
    }

    @include x-small {
      grid-template-columns: 1fr;
    }
  }

  &__button {
  }
}

.latest-post {
  border-radius: rem(8);
  overflow: hidden;
  border: 1px solid var(--fbfbfb);
  background-color: var(--white);
  box-shadow: 0 5px 40px 0 rgba(106, 117, 135, 0.15);
  transition: box-shadow 0.3s ease;

  @include hover {
    box-shadow: 0 5px 40px 0 rgba(106, 117, 135, 0.3);

    .latest-post__image img {
      transform: scale(1.02);
    }
  }

  &__image {
    width: 100%;
    max-height: rem(254);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.4s ease;
    }
  }

  &__body {
    padding: fluid(16, 24);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(13);
  }

  &__title {
    text-align: left;
    line-height: 1.2;
  }

  &__date {
    color: var(--secondary);
    font-size: rem(12);
    line-height: 1.3;
  }
}
