@use "../helpers/" as *;

.logos {
  --slide-width: #{rem(220)};
  --slide-gap: #{rem(40)};

  overflow: hidden;
  max-width: rem(1920);
  margin-inline: auto;

  &__list {
    display: flex;
  }

  &__item {
    flex: 0 0 var(--slide-width);
    padding-right: var(--slide-gap);
    aspect-ratio: 16 / 9;
    object-fit: contain;
   
  }
}
