@use "../helpers/" as *;

.logos {
  --slide-width: #{rem(220)};
  --slide-width-mobile: #{rem(160)};
  --slide-gap: #{rem(80)};
  --slide-gap-mobile: #{rem(40)};

  overflow: hidden;
  max-width: rem(1920);
  margin-inline: auto;

  &__list {
    display: flex;
  }

  &__item {
    flex: 0 0 var(--slide-width);
    padding-right: var(--slide-gap);

    @include small {
      flex-basis: var(--slide-width-mobile);
      padding-right: var(--slide-gap-mobile);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
  }
}
