@use "../helpers/" as *;

.offers {
  padding-block: rem(60);

  &__container {
    max-width: rem(2020);
    margin: 0 auto;
  }

  &__title {
  }

  &__slider {
    padding-block: rem(60);
    overflow: hidden;
    padding-right: rem(120) !important;

    @include x-small {
      padding-right: 0 !important;
      padding-block: rem(30);
    }
  }

  &__wrapper {
  }

  &__controls {
    display: flex;
    align-items: center;
    column-gap: fluid(20, 32);
    justify-content: center;
  }

  &__pagination {
    position: static;
    max-width: max-content;

    .swiper-pagination-bullet {
      width: fluid(24, 32);
      height: fluid(6, 9);
      border: 2px solid var(--secondary);
      border-radius: 16px;
      background-color: var(--white);
      transition: all 0.3s ease;

      &.swiper-pagination-bullet-active {
        background-color: var(--secondary);
      }
    }
  }

  &__nav-button {
    transition: color 0.3s ease;

    @include hover {
      color: var(--secondary);
    }

    &--prev {
    }

    &--next {
      transform: rotate(180deg);
    }
  }
}

.offer {
  background-color: var(--primary);
  border-radius: 16px;
  padding: rem(24);
  width: rem(442.5);
  transition: all 0.4s ease;
  height: rem(240);
  position: relative;
  overflow: hidden;

  &.is-active {
    .offer__back {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &.swiper-slide-active {
    transform: scale(1.3);
    margin-left: rem(70);
    cursor: pointer;

    @include small {
      margin-left: rem(60);
    }

    @include x-small {
      margin-left: rem(0);
      transform: scale(1.06);
    }
  }
  &.swiper-slide-next {
    margin-left: rem(70);

    @include small {
      margin-left: rem(60);
    }

    @include x-small {
      margin-left: rem(0);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    color: var(--white);
    font-size: fluid(20, 24);
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
    gap: rem(20);

    @include x-small {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__subtitle {
    color: var(--white);
    font-size: fluid(10, 12);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 2.7px;
    text-transform: uppercase;
  }

  &__price-container {
  }

  &__price {
    color: var(--secondary);
    text-align: center;
    font-size: fluid(32, 40);
    font-weight: 900;
    line-height: 1.2;
    margin-right: rem(6);
  }

  &__suffix {
    font-size: rem(12);
    color: var(--secondary);
    font-size: rem(12);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 2.7px;
    text-transform: uppercase;
  }

  &__old {
    color: var(--white);
    font-size: rem(18);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    position: relative;
    top: -10px;
    &::after {
      content: "";
      position: absolute;
      width: rem(43);
      height: rem(1);
      bottom: 0;
      left: 0;
      background-color: var(--white);
      transform: rotate(-30deg) translateY(-3px) translateX(30%);
    }
  }
}

.back-offer {
  opacity: 0;
  visibility: hidden;
  transform: translateY(rem(20));
  transition: all 0.3s ease;
  position: absolute;
  background-color: var(--primary-light);
  left: 0;
  top: 0;
  padding: rem(18);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(20);
    align-items: center;
    height: 100%;
    overflow: auto;

    @media (max-width: rem(640)) {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    color: var(--white);
    font-size: rem(10);
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h3,
    h4,
    h5 {
      font-size: rem(12);
      font-weight: 700;
      margin-bottom: rem(8);
    }

    em,
    i {
      font-size: rem(8.5);
    }

    ul {
      padding-left: rem(12);
      margin-bottom: rem(16);
      li {
        list-style-type: disc;

        &:not(:last-of-type) {
          margin-bottom: rem(5);
        }
      }
    }
  }

  &__bonus-addons {
  }

  &__promo {
    display: flex;
    flex-direction: column;
  }

  &__promo-text {
    color: var(--white);
    text-align: center;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: rem(6);
  }

  &__promo-code {
    border-radius: 8px;
    border: 1px solid var(--light);
    padding: rem(14);
    color: var(--secondary);
    text-align: center;
    font-size: rem(13);
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
  }
}
